/* Estilos para elementos arrastáveis */
#sortable-list li {
    border: 1px solid #ccc;
    margin: 5px;
    padding: 10px;
}

/* Estilos para campos numéricos ocultos */
.hidden-field {
    display: none;
}


.ui-sortable-handle{
    background: #f4f4f4;
}

/* Quando o mouse está sobre o item arrastável */
.ui-sortable-handle:hover {
    cursor: grab;
}

/* Quando o item está sendo arrastado */
.ui-sortable-handle:active {
    cursor: grabbing;
}
